    <div class="form-container">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id">

        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand">

        <label for="businessId">Business ID:</label>
        <input type="text" id="businessId" name="businessId">

        <label for="categoryId">Category ID:</label>
        <input type="text" id="categoryId" name="categoryId">

        <label for="code">Code:</label>
        <input type="text" id="code" name="code">

        <label for="description">Description:</label>
        <input type="text" id="description" name="description">

        <label for="ean">EAN:</label>
        <input type="text" id="ean" name="ean">

        <label for="hasRecipe">Has Recipe:</label>
        <input type="checkbox" id="hasRecipe" name="hasRecipe">

        <label for="isSelleable">Is Selleable:</label>
        <input type="checkbox" id="isSelleable" name="isSelleable">

        <label for="isSuggested">Is Suggested:</label>
        <input type="checkbox" id="isSuggested" name="isSuggested">

        <label for="legalName">Legal Name:</label>
        <input type="text" id="legalName" name="legalName">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

        <label for="price">Price:</label>
        <input type="text" id="price" name="price">

        <label for="qualifications">Qualifications:</label>
        <input type="text" id="qualifications" name="qualifications">

        <label for="recipeId">Recipe ID:</label>
        <input type="text" id="recipeId" name="recipeId">

        <label for="score">Score:</label>
        <input type="text" id="score" name="score">

        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
        </select>

        <label for="stock">Stock:</label>
        <input type="text" id="stock" name="stock">

        <label for="urlIcon">URL Icon:</label>
        <input type="text" id="urlIcon" name="urlIcon">

        <label for="urlImage">URL Image:</label>
        <input type="text" id="urlImage" name="urlImage">

        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId">

        <label for="created">Created:</label>
        <input type="text" id="created" name="created">

        <label for="lastModified">Last Modified:</label>
        <input type="text" id="lastModified" name="lastModified">

        <label for="deleted">Deleted:</label>
        <input type="text" id="deleted" name="deleted">
    </div>
 


@code {

}
